html{
    /* if there's no Lato, go to sans-serif */
    font-family: Lato,sans-serif;
}

/* the content box will shrink to size and padding you add */
/* inherit means take the computed value from parent element */
*,*::after,*::before{
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: rgb(251, 225, 229);
}

.navbar{
    max-width: 960px;
    /* top, bottom, left,right */
    margin: 50px auto;
    padding: 20px;
    display: flex;
    /* Make the title in a row */
    flex-direction: row;
    /* Add gap as big as possible between elements */
    justify-content: space-between;
    font-size: 20px;
}

.navbar__brand{
    display: flex;
    margin-right: 30px;
    align-items: center;
    flex-direction: row;
    font-family: arial, serif;
    font-size: 40px;
}

.navbar__logo{
    margin-right: 30px;
}

.navbar__navigation{
    display: flex;
    /* Get rid of bullet points */
    list-style: none;
    color: rgb(26, 162, 117);
}

.navbar__navigation__item{
    margin-left: 20px;
}

.navbar__link{
    /* Tricky: this has to be in the navigation_link, no underline */
    text-decoration: none;
    /* Get color above */
    color: inherit;

}

.main{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid__container{
    display: grid;
    /* number of imgs per row */
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.img__item {
    position: relative;
    text-align: left;
    color: white;
}

/* bottom left text */
.text__on__img {
    position: absolute;
    top: 80%;
    left: 10%;
    text-align: left;
    /* transform: translate(-50%, -50%); */

    background-color: white;
    color: black;
    font-weight: bold;
    font-family: futura-pt, halyard-display;
} 

.form{
    display: flex;
    /* Everything is in columns */
    flex-direction: column;
    align-items: flex-end;
}
.form__input{
    /* Making full use of the main width */
    width: 100%;
}

.form__label{
    /* the label takes up the entire row */
    display: block;
    margin-bottom: 10px;
}

.form__text{
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    background-color: rgba(202, 211, 211, 0.603);
    width: 100%;
    min-height: 50px;
    max-height: 100px;

}

.form__textarea{
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    background-color: rgba(202, 211, 211, 0.603);
    width: 100%;
    min-height: 200px;
}

.form__button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(5, 208, 208);
    color:wheat;
    border: none;
    border-radius:20px;
    /* looks like hand when you hover over */
    cursor: pointer;
}

.form__button:hover{
    background-color: rgb(10, 144, 144);
}

.footer{
    background-color: rgb(6, 53, 93);
    margin: 40px 0 0 auto;
    border-top: 4px solid black;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    /* This padding is very important */
    padding: 20px 0;
    justify-content: center;
}

.footer.left{
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.footer.right{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer__item{
    margin-right: 50px;
    text-decoration: none;
}

.footer__item:hover{
    cursor: pointer;
    text-decoration: underline;
}