<?xml version="1.0"?>
<robot name="rjje_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rjje_arm)/urdf/definitions.xacro" />

  <!-- Instances -->

  <link name="world">
  </link>
  
  <xacro:m_link_mesh 
    name="base_link" 
    origin_xyz="0.0 0.0 0.0" 
    origin_rpy="0.0 0.0 0.0" 
    meshfile="package://rjje_arm/meshes/base.stl" 
    meshscale="0.1 0.1 0.1"
    mass="157.633"
    ixx="13.235" ixy="0" ixz="0"
    iyy="13.235" iyz="0"
    izz="9.655"
    />

  <xacro:m_joint name="$base_link_world" type="revolute"
         axis_xyz="0 0 1"
         origin_rpy="0 0 0" origin_xyz="0 0 0.0"
         parent="world" child="base_link"
         limit_e="1000" limit_l="0" limit_u="0.5" limit_v="0.5" />

</robot>
