<launch>
    <!-- type is the most important here. Name here will override the name in cpp file-->
    <!-- DO NOT FORGET ABOUT output="screen" here! -->
    <!-- load is basically set, dump is get for params -->

<node name="test_pkg_pub_sub_node" type="test_pkg_pub_sub_node" pkg="test_pkg" output="screen" />

<!-- <node name="logger" type="logger.py" pkg="test_pkg" output="screen" /> -->
</launch>
