<!-- For legacy reasons, need to tell browser we're using html -->
<!DOCTYPE html>
<!-- 1. HTML doesn't care about lines,  -->
<!-- 3 types of flow elements: sectioning (like article, sections), heading, phrasing -->
<!-- They contain each other. They're also called flow elements -->
<!-- Use ! in vscode to autogenerate this template -->

<html lang="en">
    <!-- There could be a single a single head element, to describe broad features of the doc.  -->
    <head>
        <meta charset="UTF-8"/>
        <!-- Telling about how to scale the view -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- You can make your own meta as well -->
        <meta name="rico-meta" content="rico is great">
        <!-- This is what shows on the tab -->
        <title>Example Application</title>
        <!-- what is stylesheet? -->
        <link rel="stylesheet" href="style.css"/>
    </head>
    
    <!-- There's always header, main, and footer elements -->
    <body>
        <header>
        </header>
        <main>
            <h1>Heroooo</h1>

            <!-- This is an HTML element, it has attributes in it -->
            <!-- attributes are within quotation marks` class is defined in css and used as a 'class'-->
            <!-- This paragraph belongs to class body and class text at the same time -->
            <!-- id should be unique, and is used in JS to point to a specific element -->
            <p class='body text' id="test paragraph">Hello, world!</p>

            <!-- Switching to zh means "chinese", and there'll be highlighting -->
            <blockquote lang="zh"> 
                我是一颗跳跳糖, <br>
                一颗闪闪发亮的跳跳糖 <br>
                蹦跶跶 蹦跶 蹦跶跶 <br>
                蹦跶 蹦跶跶 蹦跶蹦 <br>
            </blockquote>

            <p> Here I want to highlight <em style="background-color: #928ff1">a word<em></p>
            <!-- anchor  -->
            <a href="https://www.youtube.com/watch?v=YrOb7OZXsU8">
                <!-- Span is a "container", doesn't do anything, but for grouping elements and styling them-->
                To a funny bunny video <span class="rico_emoji">😂</span>
            </a>

            <p>
                Here is a list, (unordered)
                <ul>
                    <li> apple </li>
                    <li> banana </li>
                    <li> orange </li>
                </ul>

                Here is an ordered list
                <ol>
                    <li>Rico</li>
                    <li>Justine</li>
                    <li>RJJE</li>
                </ol>
            </p>
        </main>
        <footer>

        </footer>
    </body>
</html>