/* 
- Use HTML to describe the content, use CSS to style the output
- CSS consists of selectors. Body is a selector 
*/
body {
    /* If it's apple, then use BlinkMacSystemFont. If not, will be segoeUI*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* this is a property */
    font-size: 36px;
    max-width: 800px;
    /* Set no margins top and bottom, equal margin left and right, as big as possible */
    margin: 0 auto;
}
targetting all p and blockquote elements
p,
blockquote{
    line-height: 36px;
    margin-bottom: 36px;
}

blockquote{
    /* margin for 4 sides: top, right, bottom, left */
    margin: 10 0 36px 0;
    /* A line by the blockquote */
    border-left: 6px solid #0c437b;
    /* padding from the text to the line */
    padding-left: 30px;
    font-style: italic;
}

/* Link property */
a{
    display: block;
    width: fit-content;
    margin: 0 auto;
    background-color: #78ed51;

    /* Make the square look more like a button */
    padding: 8px 16px;
    /* text color */
    color: rgb(174, 118, 15);
    border-radius: 15px;
}

/* When we hover over a link */
a.hover{
    /* horizontal-separation, vertical separation, blue amount (15px), and shadow color */
    box-shadow: 0 10px 150px rgba(0,0,0,0.25);
}
/* class Rico emoji, change its position */
.rico_emoji{
    position: relative;
    bottom: 0.25rem 
}