<?xml version="1.0"?>
<launch>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <arg name="use_jsp_gui" default = "true" doc="Launch the joint_state_publisher gui to publish joint angles"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_jsp_gui)"/>
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find rjje_arm)/rviz/rjje_arm.rviz"/>

    <param name="robot_description" command="cat '$(find rjje_arm)/urdf/box.xacro.urdf'" />

</launch>
