.control-section-appetizer h3 {
	margin: 0;
	padding: 1px 0;
	border: 0;
	position: relative;
}
.control-section-appetizer h3 a {
	background: #fff;
	display: block;
	/* padding: 11px 10px 12px 14px; */
	text-decoration: none;
}
li#accordion-section-appetizer a {
    background: #4769D8;
    color: #fff;
    border-color: #492cdd;
	margin-top: -4px;
}

li#accordion-section-appetizer h3 {
    background: #4769D8  !important;
}